* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Verdana;
}

.nav__container {
  background-color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
  padding: 10px 80px; 
}

.nav__logo {
  margin-right: auto;
  align-items: center;
}

.nav__logo-header {
  font-size: 14px;
  color: #335576;
}

.nav__links {
  
}

.nav__link-title {
  padding: 0px 20px;
}

.nav__link {
  display: inline;
  font-size: 12px;
}

.nav__link-item {
  padding: 0px 5px;
  text-decoration: none;
  color: black;
}

footer {
  background-color: #FEFAF5;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  color: #335576;
}

.footer__contact {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 18px;
}

.footer__contact-header {
  font-family: Verdana;
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}



