* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Verdana;
}

.nav__container {
  background-color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
  padding: 10px 80px; 
}

.nav__logo {
  margin-right: auto;
  align-items: center;
}

.nav__logo-header {
  font-size: 14px;
  color: #335576;
}

.nav__links {
  
}

.nav__link-title {
  padding: 0px 20px;
}

.nav__link {
  display: inline;
  font-size: 12px;
}

.nav__link-item {
  padding: 0px 5px;
  text-decoration: none;
  color: black;
}

footer {
  background-color: #FEFAF5;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  color: #335576;
  align-items: center;
}


h2 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 18px;
}


.footer__contact-hours {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 150px;
}

.footer__contact-hours1 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.gg {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.ff {
  display: flex;
  flex-direction: row;
}


.footer__contact-info {
  font-family: Verdana;
  font-size: 12px;
  color: #DB7A4E;
  padding: 20px 0;
}

.footer__contact-icon {
  width: 30px;
  height: 30px;
}

.facebook {
  width: 15px;
}

.social {
  margin-bottom: 40px;
}

.hours {
  margin-left: 10px;
}
