.nav__link-item--hover {
  border-bottom: 3px solid #DB7A4E;
  padding: 5px 0px; 
}

.hero__container {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  padding: 0px 80px;
  background-color: #FEFAF5;
}

.hero__header {
  font-size: 40px;
  color: #335576;
  padding-bottom: 30px;
  padding: ;
}

.hero__info {
  width: 60%;
  padding-top: 80px;

}

.hero__header-description {
  
  
}

.hero__header-button {

  
}

.hero__image-logo {

}

.hero__image {
  width: 500px;
}

.recommendations__container {
  display: flex;
  flex-direction: column;
}

.cards__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card__image {
  width: 250px;
  height: 300px;
}
